body {
  background-color: rgb(24, 64, 125);
  color: rgba(0, 0, 0, 0);

  font-family: Permanent Marker, Arial;
}

.main-body {
  background-color: rgb(243, 228, 167);
  color: rgb(24, 64, 125);

  margin-top: 10mm;
  margin-bottom: 5mm;
  margin-left: 5mm;
  margin-right: 5mm;

  padding-top: 1mm;
  padding-left: 2mm;
  padding-right: 2mm;
  padding-bottom: 5mm;
}

.head {
  text-align: center;
  
  background-color: rgb(24, 64, 125);
  color: rgb(243, 228, 167);

  margin: 1cm;
  padding: 0.25cm;
}

.title {
  border-style: solid;
  border-color: rgb(243, 228, 167);
  border-width: 3px;

  padding: 0.75mm;
}

.details {
  padding-left: 1mm;
  padding-right: 1mm;
  padding: 2mm;

  margin-left: 1cm;
  margin-right: 1cm;
  
  border-style: solid;
  border-color: rgb(24, 64, 125);
  border-width: 1mm;

  text-align: center;
}

.image-group{
  text-align: center;

  color: rgb(24, 64, 125);

  border-style: solid;
  border-color: rgb(24, 64, 125);
  border-width: 2mm;

  margin: 1cm;
}

.student-image{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 35%;

  padding-top: 0.25in;
  padding-bottom: 0.25in;
}

#image-area{
  background-color: rgb(196, 187, 147);

  padding: 0.25in;

  border-color: rgb(243, 228, 167);
  border-style: dashed;
  border-width: 1cm;
}
